header{
  background: #333;
  color: #fff;
  padding: 16px ;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

a { 
  color: inherit;
 }

